# --- DATABASE PASSWORDS ---
# Hasło do MySQL (Root)
MYSQL_ROOT_PASSWORD=mysql_root
# MySQL
MYSQL_DATABASE=portfolio_db

# MongoDB
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=mongo

# Redis
REDIS_PASSWORD=redis

# Grafana
GRAFANA_ADMIN_PASSWORD=twoje_bardzo_silne_haslo_123

# --- APP SECURITY ---
FINGERPRINT_SALT=bardzo-tajne-haslo-2026

# --- NETWORK SETTINGS ---
DB_HOST=localhost
REDIS_HOST=localhost
MONGO_DATABASE=zero_day_db